    <!-- Bas de page -->
    <footer>
        <!-- Liens réseaux sociaux -->
        <div>
            <a href="https://github.com/djalexkidd" target="_blank"><img class="social" src="/images/github.svg" alt="Lien vers ma page GitHub" /></a>
            <a href="https://www.linkedin.com/in/alexandre-p-02b928223" target="_blank"><img class="social2" src="/images/linkedin.svg" alt="Lien vers ma page LinkedIn" /></a>
        </div>
        
        <div class="bar">
            <p>2022 &copy; Alexandre Poyer</p>
        </div>
    </footer>

    <script type="text/javascript" src="/js/retromode.js"></script>

</body>

</html>