<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page d'accueil">
    <meta name="keywords" content="HTML, CSS, JavaScript, Portfolio">
    <meta name="author" content="Alexandre Poyer">
    <link rel="icon" href="/images/favicon.png" />
    <!-- Importation du fichier CSS -->
    <link rel="stylesheet" href="/css/stylesheet.css">
    <!-- Titre de la fenêtre -->
    <title><%= title %> - Portfolio</title>
</head>
<body>
    <!-- Barre de navigation -->
    <header>
        <ul>
            <!-- Texte à gauche -->
            <p>Alexandre Poyer</p>
            <!-- Boutons à droite -->
            <li><a <% if (currentPage3) { %> class="active" <% } %> href="/contact">Contact</a></li>
            <li><a <% if (currentPage2) { %> class="active" <% } %> href="/projets">Projets</a></li>
            <li><a <% if (currentPage1) { %> class="active" <% } %> href="/">Accueil</a></li>
        </ul>
    </header>