<%- include('partials/header') %>
    <!-- Contenu de la page -->
    <main class="myself">
        <!-- Image de présentation -->
        <img class="photo" src="<%= avatar %>" alt="Ma photo" />
        <!-- Paragraphe à droite de l'image -->
        <h1 class="espace">Bienvenue sur mon portfolio!</h1>
        <p>Bonjour, je suis Alexandre Poyer, j'étudie à l'institut Solacroup en back-end.</p>
        <p>Vous pouvez télécharger mon CV en cliquant <a href="data/CV_Alexandre_Poyer.pdf" download>ici</a>.</p>
        <p>Mon objectif à Solacroup est de devenir développeur Full-Stack. Je développe aussi des jeux vidéos en utilisant le moteur de jeu libre et open-source "Godot".</p>

        <div class="scrolling-image-container">
            <div class="scrolling-image"></div>
        </div>
    </main>
<%- include('partials/footer') %>