<%- include('partials/header') %>
    <!-- Contenu de la page -->
    <main>
        <!-- Paragraphe de présentation -->
        <h1 class="espace">Mes projets</h1>
        <p>Voici les projets sur lesquels je travaille ou j'ai travaillé.</p>
    
    <section class="centered">
        <!-- Grille des projets -->
        <div class="container">
            <a class="nodecoration" href="https://github.com/djalexkidd/kiyus-revenge" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project1.png" alt="Capture d'écran de Kiyu's Revenge" />
                    <p class="projectname">Kiyu's Revenge</p>
                </div>
            </a>
    
            <a class="nodecoration" href="https://github.com/djalexkidd/wesh-bouee" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project2.png" alt="Capture d'écran de Wesh Bouée" />
                    <p class="projectname">Wesh Bouée</p>
                </div>
            </a>
    
            <a class="nodecoration" href="https://github.com/djalexkidd/kiyu-sports" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project3.png" alt="Capture d'écran de Kiyu Sports" />
                    <p class="projectname">Kiyu Sports</p>
                </div>
            </a>
    
            <a class="nodecoration" href="https://github.com/djalexkidd/ping-blast" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project4.png" alt="Capture d'écran de Ping Blast" />
                    <p class="projectname">Ping Blast</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/bee-a-hero" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project7.png" alt="Capture d'écran de Bee a hero!" />
                    <p class="projectname">Bee a hero!</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/drones-invaders" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project8.png" alt="Capture d'écran de Drones Invaders" />
                    <p class="projectname">Drone Invader</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/maze-of-lepers" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project20.png" alt="Logo de Maze of Lepers" />
                    <p class="projectname">Maze Lepers</p>
                </div>
            </a>
    
            <a class="nodecoration" href="https://github.com/djalexkidd/passman" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project5.svg" alt="Logo de PassMan" />
                    <p class="projectname">PassMan</p>
                </div>
            </a>
    
            <a class="nodecoration" href="https://github.com/djalexkidd/roflcopter" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project6.png" alt="Capture d'écran de ROFLCOPTER" />
                    <p class="projectname">ROFLCOPTER</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/surf-van" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project9.png" alt="Capture d'écran de Surf Van" />
                    <p class="projectname">Surf Van</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/todo-list" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project10.png" alt="Capture d'écran de To do List" />
                    <p class="projectname">To do List</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/morpion-js" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project11.png" alt="Capture d'écran de Morpion" />
                    <p class="projectname">Morpion</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/blackjack" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project12.png" alt="Capture d'écran de Blackjack" />
                    <p class="projectname">Blackjack</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/calc-js" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project13.png" alt="Capture d'écran de Calculatrice" />
                    <p class="projectname">Calculatrice</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/gaming-news" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project14.png" alt="Capture d'écran de Gaming News" />
                    <p class="projectname">Gaming News</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/vacances" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project15.png" alt="Logo de gustave" />
                    <p class="projectname">Vacances</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/github-api-call" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project16.png" alt="Capture d'écran de GitHub API" />
                    <p class="projectname">GitHub Stats</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/dadjoke-api-call" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project17.png" alt="Capture d'écran de Dad Joke API" />
                    <p class="projectname">Random Joke</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/pokedex" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project18.jpeg" alt="Capture d'écran de Pokédex" />
                    <p class="projectname">Pokédex</p>
                </div>
            </a>

            <a class="nodecoration" href="https://github.com/djalexkidd/react-imdb" target="_blank">
                <div class="project">
                    <img class="projectimg" src="images/project19.png" alt="Logo de React IMDB" />
                    <p class="projectname">React IMDB</p>
                </div>
            </a>

        </div>
    </section>

    <div class="scrolling-image-container">
        <div class="scrolling-image"></div>
    </div>
    
    </main>
<%- include('partials/footer') %>