/* Aucune bordure */
*, ::before, ::after {
    margin: 0;
    padding: 0;
}

/*POLICES*/
@font-face {
    font-family: 'nebasneue';
    src : url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'dmsans';
    src : url('../fonts/DMSans-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'vcr';
    src : url('../fonts/vcr.ttf') format('truetype');
}
@font-face {
    font-family: 'pressstart2p';
    src : url('../fonts/PressStart.ttf') format('truetype')
}

/* Définit l'image d'arrière-plan de la page */
body {
    background-color: #181818;
    color: #fff;
}

/* Barre de navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: nebasneue, sans-serif;
    box-shadow: 0 2px 8px #494949;
}

/* Boutons de navigation à droite */
li {
    float: right;
}

/* Boutons de navigation */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Couleur du bouton de navigation quand il est survolé */
li a:hover {
    background-color: #111;
}

/* Couleur du bouton de navigation de la "page actuelle" */
.active {
    background-color: #04AA6D;
}

/* Titre du site à gauche de la barre de navigation */
ul p {
    display: inline-block;
    text-align: center;
    padding-top: 16px;
    padding-left: 16px;
    font-size: 20px;
}

/* Espacement entre la barre de navigation et le contenu */
main {
    font-family: dmsans, sans-serif;
    font-size: 24px;
}

/* Paragraphe pour me présenter sur la page d'accueil */
.myself {
    margin-right: 15%;
    padding-bottom: 50px;
}

/* Image de présentation */
.photo {
    float: left;
    margin-left: 10px;
    margin-right: 50px;
    border: solid #0000b2;
    border-radius: 30px;
}

.espace {
    margin: 12px 0;
}

/* Bas de page */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    color: white;
    text-align: center;
    padding-top: 6px;
    height: 35px;
    font-family: dmsans, sans-serif;
    font-size: 20px;
}

/* Icône GitHub */
.social {
    position: absolute;
    left: 0;
    width: 30px;
}

/* Icône LinkedIn */
.social2 {
    position: absolute;
    left: 35px;
    width: 30px;
}

/* [GRILLE DE LA PAGE PROJETS] */

.centered {
    display: flex;
    justify-content: center;
}

/* Bordures pour les éléments de la grille */
.project {
    border: solid;
    width: 250px;
}

/* Règle la taille de l'image */
.projectimg {
    width: 250px;
}

/* Nom des projets */
.projectname {
    font-size: 37px;
    text-align: center;
}

.container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 50px;
}

/* Hyperliens pour les projets */
.nodecoration:link, .nodecoration:visited {
    text-decoration: none;
    color: #fff;
}

/* Ajuste les dimentions de la grille de projets et du texte de la navbar pour les résolutions inférieures */
@media (min-width: 600px) {
    .container { grid-template-columns: repeat(2, 1fr); }
    li a { font-size: 30px; }
    ul p { font-size: 28px; }
}

@media (min-width: 850px) {
    .container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1440px) {
    .container { grid-template-columns: repeat(5, 1fr); }
}

/* [FORMULAIRE DE CONTACT] */

/* Ajuste le formulaire */
form {
    padding-left: 10%;
}

/* Zone de texte de l'e-mail */
.name {
    width: 80%;
}

/* Zone de texte du message */
textarea {
    resize: none;
    overflow: hidden;
    width: 80%;
    min-height: 100px;
    max-height: 400px;
}

/* Bouton envoyer */
button {
    margin: 50px 0;
    width: 100px;
    height: 50px;
}

/* [RETRO MODE EASTER EGG] */

.retromode {
    font-family: vcr;
}

.scrolling-image-container {
    overflow: hidden;
    display: none;
}

.scrolling-image {
    background: url("../images/grid.png") repeat-x;
    height: 1620px;
    width: 7680px;
    animation: slide 3s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-1920px); /* The image width */
    }
}

/* [FORMULAIRE DE CONNEXION] */

@media (max-width: 600px) {
    .login {display: flex; flex-direction: column;}
    form {padding-left: 0%;}
}

/* [PAGE DU JEU] */

.gameicon {
    float: left;
    margin-left: 10px;
    margin-right: 50px;
    height: 192px;
    image-rendering: pixelated;
}

.gametitle {
    font-family: pressstart2p;
}

.playbutton {
    background-color: #4CAF50; /* Vert */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-family: sans-serif;
}

.downloadbutton {
    background-color: #e7e7e7; /* Gris */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-family: sans-serif;
}

.playbutton:hover, .downloadbutton:hover, .disconnect:hover {
    background-color: black; /* Noir */
    color: white;
}

.scr {
    width: 480px;
    height: 270px;
}

.screenshots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 50px;
}

/* [PANEL ADMIN] */

.disconnect {
    background-color: #ae2222; /* Rouge */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-family: sans-serif;
}

.newgame {
    display: none;
}